.clearfix::before, .clearfix::after{display: block; content: '';clear: both;}

/* slide opt */
.swiper-container {
    width: 100%;
    height: 100%;}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;}

/* font */
/*  font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; */

/* 배경 이미지 */
#container{width: 100%;background-color: #000;margin-top: -5px;}
#more{width: 100%;background-color: #e7c8d3;padding-bottom: 50px;}


/* new item */
#container>.new_item{overflow: hidden;width: 980px;margin: 0 auto;padding-top: 20px;padding-bottom: 20px;}

#container>.new_item>h3{padding-bottom: 10px;font-size: 18px; font-weight: bold;text-align: center; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}
#container>.new_item>h3::selection {background:#a34040; color:#FFF; text-shadow:none;}
#container>.new_item>p{padding-bottom: 30px;text-align: center;font-size: 25px; font-weight: bold; color: rgb(182, 65, 65);font-family: 'PT Sans', sans-serif;}
#container>.new_item>p::selection {background:#ffffff; color:#FFF; text-shadow:none;}
#container>.new_item>h4{padding-bottom: 55px;text-align: center;font-size: 14px;line-height: 22px; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}
#container>.new_item>h4::selection {background:#a34040; color:#FFF; text-shadow:none;}

#container>.new_item>ul{}
#container>.new_item>ul>li{float: left;margin-right: 25px;}
#container>.new_item>ul>li p{text-align: center;}

/* best item */
#container>.best_item{padding-top: 80px;padding-bottom: 50px; width: 75%;}

#container>.best_item>h3{font-size: 16px; font-weight: bold;text-align: center; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}
#container>.best_item>p{padding-bottom: 30px;text-align: center;font-size: 25px; font-weight: bold; color: rgb(182, 65, 65);font-family: 'PT Sans', sans-serif;}
#container>.best_item>h4{padding-bottom: 30px;text-align: center;font-size: 14px;line-height: 22px; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}

#container>.best_item>ul{padding-bottom: 30px;}
#container>.best_item>ul>li{}
#container>.best_item>ul>li>a{}
#container>.best_item>ul>li>a>img{border-radius: 120px;}

/* face item */
#container>.face_item{position: relative; padding-top: 40px;overflow: hidden;width: 980px;margin: 0 auto;padding-top: 20px;padding-bottom: 20px;}

#container>.face_item>a{width: 100%;}
#container>.face_item>a>img{width: 100%;padding-bottom: 80px;}

#container>.face_item>h3{font-size: 18px; font-weight: bold;text-align: center; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}
#container>.face_item>h3::selection {background:#d86f6f; color:#FFF; text-shadow:none;}
#container>.face_item>p{padding-bottom: 30px;font-weight: bold;text-align: center;font-size: 28px; color: rgb(255, 175, 175);font-family: 'PT Sans', sans-serif;}
#container>.face_item>p::selection {background:#ffffff; color:#FFF; text-shadow:none;}
#container>.face_item>h4{padding-bottom: 40px;text-align: center;font-size: 14px;line-height: 22px; color: rgb(228, 228, 228);font-family: 'Open Sans', sans-serif;}
#container>.face_item>h4::selection {background:#d86f6f; color:#FFF; text-shadow:none;}
#container>img{margin-top: -135px;width: 100%;}

#container>.face_item>ul{}
#container>.face_item>ul>li{float: left;margin-right: 25px;}
#container>.face_item>ul>li h3{text-align: center;}
#container>.face_item>ul>li p{text-align: center;}
#container>.face_item>ul>li p{text-align: center;}

/* event */
#more>.event_box{padding-bottom: 50px;}
#more>.event_box>.event{margin-top: -120px;}
#more>.event_box>.event>a{display: block;width: 766px;height: 260px;margin: 0 auto;}
#more>.event_box>.event>a>img{width: 766px;height: 260px;border-radius: 60px;}

/* store map */
#more>.store{padding-bottom: 50px;width: 100%;}

#more>.store>h3{display: block;padding-bottom: 30px; width: 613px;height: 97px;text-indent: -9999px;background-image: url(../imgs/more.png);background-repeat: no-repeat;margin: 0 auto;}
#map{width: 1280px;height: 500px;margin: 0 auto;border-radius: 60px;}

/* sns */
#more>.sns{overflow: hidden;width: 1020px;margin: 0 auto;padding-top: 20px;padding-bottom: 20px; border-top: 3px solid #fff;border-bottom: 3px solid #fff;border-radius: 2px;}

#more>.sns>h3{font-size: 16px;text-align: center;font-weight: bold;color: rgb(255, 255, 255);font-family: 'Open Sans', sans-serif;}
#more>.sns>h3::selection {background:#d86f6f; color:#FFF; text-shadow:none;}
#more>.sns>p{padding-bottom: 30px;text-align: center;font-size: 28px;font-weight: bold; color: rgb(172, 97, 97);font-family: 'PT Sans', sans-serif;}
#more>.sns>p::selection {background:#d86f6f;; color:#FFF; text-shadow:none;}

#more>.sns>ul{}
#more>.sns>ul>li{float: left;margin-right: 20px;}
#more>.sns>ul>li>a{display: block;width: 150px;height: 150px;padding-bottom: 20px;}
#more>.sns>ul>li:nth-child(1)>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:nth-child(1)>a:hover{background-image: url(../imgs/ho_sns.png);background-repeat: no-repeat;}
#more>.sns>ul>li:nth-child(2)>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns02.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:nth-child(2)>a:hover{background-image: url(../imgs/ho_sns02.png);background-repeat: no-repeat;}
#more>.sns>ul>li:nth-child(3)>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns03.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:nth-child(3)>a:hover{background-image: url(../imgs/ho_sns03.png);background-repeat: no-repeat;}
#more>.sns>ul>li:nth-child(4)>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns04.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:nth-child(4)>a:hover{background-image: url(../imgs/ho_sns04.png);background-repeat: no-repeat;}
#more>.sns>ul>li:nth-child(5)>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns05.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:nth-child(5)>a:hover{background-image: url(../imgs/ho_sns05.png);background-repeat: no-repeat;}
#more>.sns>ul>li:last-child>a{width: 150px;height: 150px;text-indent: -9999px;background-image: url(../imgs/sns06.png);background-repeat: no-repeat;border-radius: 80px 80px 0 0;}
#more>.sns>ul>li:last-child>a:hover{background-image: url(../imgs/ho_sns06.png);background-repeat: no-repeat;}